In [3]:
import pandas as pd

In [13]:
data = pd.read_csv('daily-total-female-births-CA.csv', header = 0, parse_dates= [0])

In [14]:
data.head()

        date  births
0 1959-01-01      35
1 1959-01-02      32
2 1959-01-03      30
3 1959-01-04      31
4 1959-01-05      44

In [15]:
data['date'].dtype

dtype('<M8[ns]')

In [16]:
dateparser = lambda x : pd.datetime.strptime(x, '%Y-%m-%d %H:%M:%S')

In [18]:
# data = pd.read_csv('daily-total-female-births-CA.csv', header = 0, parse_dates= [0], date_parser=dateparser)

In [19]:
# To import as a series rather a DataFrame.

series = pd.read_csv('daily-total-female-births-CA.csv', header = 0, parse_dates=[0], squeeze=True, index_col = 0)

C:\Users\FQ467WA\AppData\Local\Temp\ipykernel_15552\2481983417.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  series = pd.read_csv('daily-total-female-births-CA.csv', header = 0, parse_dates=[0], squeeze=True, index_col = 0)

In [20]:
series

date
1959-01-01    35
1959-01-02    32
1959-01-03    30
1959-01-04    31
1959-01-05    44
              ..
1959-12-27    37
1959-12-28    52
1959-12-29    48
1959-12-30    55
1959-12-31    50
Name: births, Length: 365, dtype: int64

In [21]:
data.shape

(365, 2)

In [22]:
series.shape

(365,)

# Querying

In [23]:
print(series['1959-01'])

date
1959-01-01    35
1959-01-02    32
1959-01-03    30
1959-01-04    31
1959-01-05    44
1959-01-06    29
1959-01-07    45
1959-01-08    43
1959-01-09    38
1959-01-10    27
1959-01-11    38
1959-01-12    33
1959-01-13    55
1959-01-14    47
1959-01-15    45
1959-01-16    37
1959-01-17    50
1959-01-18    43
1959-01-19    41
1959-01-20    52
1959-01-21    34
1959-01-22    53
1959-01-23    39
1959-01-24    32
1959-01-25    37
1959-01-26    43
1959-01-27    39
1959-01-28    35
1959-01-29    44
1959-01-30    38
1959-01-31    24
Name: births, dtype: int64

In [26]:
data[(data['date'] >= '1959-01-01') & (data['date'] <= '1959-01-31')]

         date  births
0  1959-01-01      35
1  1959-01-02      32
2  1959-01-03      30
3  1959-01-04      31
4  1959-01-05      44
5  1959-01-06      29
6  1959-01-07      45
7  1959-01-08      43
8  1959-01-09      38
9  1959-01-10      27
10 1959-01-11      38
11 1959-01-12      33
12 1959-01-13      55
13 1959-01-14      47
14 1959-01-15      45
15 1959-01-16      37
16 1959-01-17      50
17 1959-01-18      43
18 1959-01-19      41
19 1959-01-20      52
20 1959-01-21      34
21 1959-01-22      53
22 1959-01-23      39
23 1959-01-24      32
24 1959-01-25      37
25 1959-01-26      43
26 1959-01-27      39
27 1959-01-28      35
28 1959-01-29      44
29 1959-01-30      38
30 1959-01-31      24

In [27]:
series.describe("")

count    365.000000
mean      41.980822
std        7.348257
min       23.000000
50%       42.000000
max       73.000000
Name: births, dtype: float64

In [28]:
data.describe()

           births
count  365.000000
mean    41.980822
std      7.348257
min     23.000000
25%     37.000000
50%     42.000000
75%     46.000000
max     73.000000